section {
  width: 80%;
  height: 800px;
  background-image: url(https://images.unsplash.com/photo-1602798139812-580ce9bf9f4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  margin: 0 auto;
  background-size: cover;
}

h1 {
  font-size: 100px;
  color: #fff;
}